DATABASE_URL="postgresql://examos:examos_password@localhost:5432/examos_db?schema=public"
JWT_SECRET="examos_super_secret_jwt_key_2026_production"
JWT_REFRESH_SECRET="examos_super_secret_refresh_jwt_key_2026_production"
PORT=4000
